.menu{

    &__burger{
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 101;
    
    &:hover, &:focus{
        fill: var(--color-accent);
    }

        @media screen and (min-width: 758px) {
            display: none;
        }
    }

    &__icon-close{
        display: none;
    }

    &__container{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

        display: none;

        width: 100vw;
        height: 100vh;
        padding: 48px 40px;

        background-color: var(--color-bg-first);
        text-align: left;

        
    }

    &__window-phone{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        
        color: var(--color-accent);

    }

    &__window-mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        margin-top: 32px;

    }
    &__window-contacts-item{
        margin-top: 32px;
    }

    &__container-link{
        color: #212121;
    }

    &__container.is-open{  
        display: flex;
        flex-direction: column;
       }

    &__window-nav{
        margin-bottom: auto;
    }


        &__window-nav-item{
            font-weight: 500;
            font-size: 40px;
            line-height: 1.18;
            letter-spacing: 0.02em;
            
            
        }

        &__window-nav-item:not(:last-child){
            margin-bottom: 32px;
        }

        &__window-nav-link{
            color: #212121;
        }





        &__window-socials{
            display: flex;
            // gap: 20px;

            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            
            color: #2196F3;
            margin-top: 64px;
        }

        &__window-socials-link{
            padding-left: 10px;
        
        }

        &__window-socials-item:not(:last-child) .menu__window-socials-link {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }

}
.menu__burger.is-open .menu__icon-close{
    display: block;
}

.menu__burger.is-open .menu__icon-menu {
    display: none;
}

.current{
    color: #2196F3;
}