h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

// *{
//     outline: 1px solid red;
// }

.no-scroll{
    overflow: hidden;
}