/* Hero */
.hero {

    padding: 118px 0;

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }

    background-color: var(--color-bg-hero);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bchero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-bg-first);

    &__title {
        @include fonts(900, 26px, 1.62, 0.06em);

        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
                
        }

    }
}
